In [1]:
import os
import time
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('/data/dp-data/xuefeng_data/ready_for_use/Test202404_Submit20240926/20240401_20240630/btc_usdt_binance/feature_20240430.parquet')
df.head()

,timestamp,SignalModel01,SignalModel02,SignalModel03,SignalModel04
24847270,1.714406e+18,0.000048,0.000062,0.00004,0.000049
24847271,1.714406e+18,0.000048,0.000062,0.00004,0.000049
24847272,1.714406e+18,0.000048,0.000062,0.00004,0.000049
24847273,1.714406e+18,0.000048,0.000062,0.00004,0.000049
24847274,1.714406e+18,0.000048,0.000062,0.00004,0.000049

In [3]:
df = pd.read_parquet('/data/dp-data/xuefeng_data/ready_for_use/600s_stagebaseline_202404_1016/20240401_20240630/btc_usdt_binance/feature_20240430.parquet')
df.head()

             timestamp  return_predict
25055912  1.714406e+18        0.000165
25055913  1.714406e+18        0.000164
25055914  1.714406e+18        0.000169
25055915  1.714406e+18        0.000172
25055916  1.714406e+18        0.000173

In [2]:

path = 'results/backtest_0918/BTCUSDT.BINANCE_SPOT_NORMAL/taker_stra_2024042200:00_2024042300:00_xuefeng_1e-05_-1e-05_maker_0_1e-05'
price_npz = np.load(os.path.join(path, 'orders.npz'), allow_pickle=True)


array = price_npz['order_id']  # 替换 'specific_key' 为实际的键
print(array)

for i in price_npz.keys():
    print(f'{i}: {price_npz[i]}')

['O-20240421-160000-taker_stra-000-1' 'O-20240421-160000-taker_stra-000-1'
 'O-20240421-160000-taker_stra-000-1' ...
 'O-20240422-160000-taker_stra-000-1416414'
 'O-20240422-160000-taker_stra-000-1416415'
 'on_stop_close_all_order_1713801600000']
order_id: ['O-20240421-160000-taker_stra-000-1' 'O-20240421-160000-taker_stra-000-1'
 'O-20240421-160000-taker_stra-000-1' ...
 'O-20240422-160000-taker_stra-000-1416414'
 'O-20240422-160000-taker_stra-000-1416415'
 'on_stop_close_all_order_1713801600000']
status: ['INVALID_STATUS' 'OPENED' 'FILLED' ... 'FILLED' 'FILLED' 'FILLED']
price: [    0.       0.       0.   ...     0.       0.   65994.38]
amount: [0.0001 0.0001 0.0001 ... 0.0001 0.0001 0.0101]
side: ['SELL' 'SELL' 'SELL' ... 'BUY' 'SELL' 'SELL']
trade_type: ['TAKER' 'TAKER' 'TAKER' ... 'TAKER' 'TAKER' 'TAKER']
order_type: ['MARKET' 'MARKET' 'MARKET' ... 'MARKET' 'MARKET' 'MARKET']
filled_price: [    0.       0.   65043.69 ... 65994.39 65994.38 65994.38]
filled_amount: [0.     0.     0.0001 ... 0.0001 0.0001 0.0101]
commission: [0.         0.         0.03902621 ... 0.03959663 0.03959663 3.99925943]
ts: [1713715200200 1713715200200 1713715200200 ... 1713801600000 1713801600000
 1713801600000]

In [3]:
price_npz = np.load(os.path.join(path, 'signal.npz'), allow_pickle=True)

for i in price_npz.keys():
    print(f'{i}: {price_npz[i]}')

name: []
price: []
amount: []
ts: []

In [4]:
price_npz = np.load(os.path.join(path, 'market_price.npz'), allow_pickle=True)

for i in price_npz.keys():
    print(f'{i}: {price_npz[i]}')

mid_price: [65043.695 64548.295 64502.625 64634.015 64338.295 64560.005 64578.365
 64614.005 64643.745 64660.015 64743.115 64799.985 64822.005 64799.995
 64733.805 64834.155 64797.995 64775.185 64771.995 64811.985 64685.915
 64718.825 64736.805 64712.935 64537.995 64585.765 64625.125 64608.005
 64541.215 64504.995 64646.165 65122.615 64929.985 64948.005 64686.515
 64740.005 64693.995 64982.395 64982.005 64964.005 65074.005 65038.925
 65028.005 64939.625 64967.995 64991.985 64991.795 64972.005 64941.145
 65111.995 65123.015 65029.245 64869.725 64860.595 64907.035 64817.605
 65228.535 64906.005 64728.1   64772.685 64663.995 64640.005 64747.465
 64761.965 64829.995 64732.005 64806.695 64999.995 65069.995 65286.005
 65435.995 65962.005 65713.465 65796.875 65700.005 65695.995 65676.705
 65752.005 65749.065 65836.545 65915.995 65959.995 65886.195 66103.285
 66394.525 66272.015 66269.485 66281.035 66233.995 66299.905 66309.995
 66328.165 66141.995 66028.015 66046.035 66060.455 65981.995 65988.905
 66109.395 66137.995 66113.995 66049.985 65955.235 66024.005 65922.005
 65960.005 65929.765 65871.695 65928.575 66016.005 66029.995 66015.385
 65963.215 66014.365 66048.175 65886.435 66003.525 65913.525 65843.825
 65829.965 65877.465 65899.995 65723.765 65933.845 65875.995 65840.425
 66008.405 66208.415 66047.995 66073.905 65840.005 66073.995 66139.995
 66189.975 66217.975 66440.855 66309.185 66245.975 66047.995 65787.015
 65768.785 65807.995 65948.945 66009.995]
ts: [1713715200000 1713715800000 1713716400002 1713717000004 1713717600004
 1713718200005 1713718800006 1713719400007 1713720000007 1713720600007
 1713721200007 1713721800009 1713722400011 1713723000011 1713723600011
 1713724200012 1713724800013 1713725400016 1713726000016 1713726600016
 1713727200039 1713727800052 1713728400095 1713729000101 1713729600103
 1713730200103 1713730800190 1713731400197 1713732000397 1713732600783
 1713733200858 1713733800887 1713734400914 1713735000928 1713735600932
 1713736201000 1713736801002 1713737401010 1713738001023 1713738601083
 1713739201088 1713739801365 1713740401465 1713741001625 1713741601900
 1713742201970 1713742801976 1713743402426 1713744002469 1713744602582
 1713745202773 1713745802797 1713746402800 1713747002807 1713747602818
 1713748202863 1713748802866 1713749402868 1713750002880 1713750602889
 1713751202902 1713751802933 1713752403067 1713753003081 1713753603087
 1713754203099 1713754803315 1713755403500 1713756003651 1713756603763
 1713757203809 1713757803822 1713758403826 1713759003959 1713759603968
 1713760204067 1713760804078 1713761404082 1713762004208 1713762604243
 1713763204264 1713763804290 1713764404411 1713765004417 1713765604421
 1713766204422 1713766804424 1713767404429 1713768004466 1713768604474
 1713769204477 1713769804530 1713770404607 1713771004607 1713771604680
 1713772204689 1713772804699 1713773404834 1713774004835 1713774604867
 1713775204908 1713775804943 1713776404957 1713777004986 1713777605031
 1713778205213 1713778805373 1713779405397 1713780005425 1713780605427
 1713781205428 1713781805499 1713782405509 1713783005632 1713783605647
 1713784205710 1713784805710 1713785405731 1713786005762 1713786605841
 1713787205857 1713787805995 1713788406045 1713789006068 1713789606124
 1713790206142 1713790806153 1713791406155 1713792006250 1713792606251
 1713793206288 1713793806419 1713794406420 1713795006501 1713795606514
 1713796206533 1713796806553 1713797406590 1713798006606 1713798606617
 1713799206637 1713799806703 1713800406833 1713801006901]

In [47]:



# csv_path = 'results/backtest_0918/BTCUSDT.BINANCE_SPOT_NORMAL/taker_stra_2024040600:00_2024041100:00_xuefeng_0.5_-0.5_maker_0_0.5/'

df = pd.read_csv(os.path.join(path, 'account_report.csv'))

df.head()

,total,locked,free,currency,account_id,account_type,base_currency,margins,reported,info
0,100.0,0.0,100.0,BTC,BINANCE-001,CASH,NaN,[],True,{}
1,1000000.0,0.0,1000000.0,USDT,BINANCE-001,CASH,NaN,[],True,{}

In [48]:
# csv_path = 'results/backtest_0918/BTCUSDT.BINANCE_SPOT_NORMAL/taker_stra_2024040600:00_2024041100:00_xuefeng_0.5_-0.5_maker_0_0.5/'

df = pd.read_csv(os.path.join(path, 'order_fills_report.csv'))

df.head()

EmptyDataError: No columns to parse from file

In [49]:
# csv_path = 'results/backtest_0918/BTCUSDT.BINANCE_SPOT_NORMAL/taker_stra_2024040600:00_2024041100:00_xuefeng_0.5_-0.5_maker_0_0.5/'

df = pd.read_csv(os.path.join(path, 'positions_report.csv'))

df.head()

EmptyDataError: No columns to parse from file

In [17]:


ls = {'li': 100, "lk": 200, "lh": 300, 'c': 400, 'd': 500}

k = list(ls.items())

for i in range( len(ls) ):
    print(k[i][0])

li
lk
lh
c
d

In [19]:
data_row_0 = [ [k[i][0], k[i][1]] for i in range(len(ls)) ]

In [20]:
data_row_0

[['li', 100], ['lk', 200], ['lh', 300], ['c', 400], ['d', 500]]

In [21]:
lin = {'li': 100, "lk": 200, "lh": 300, 'c': 400, 'd': 500}
m = list(lin.items())

data_row_1 = [ [m[i][0], m[i][1]] for i in range(len(m)) ]

In [22]:
data_row_1

[['li', 100], ['lk', 200], ['lh', 300], ['c', 400], ['d', 500]]

In [23]:
data_row_0 + data_row_1

[['li', 100],
 ['lk', 200],
 ['lh', 300],
 ['c', 400],
 ['d', 500],
 ['li', 100],
 ['lk', 200],
 ['lh', 300],
 ['c', 400],
 ['d', 500]]